.detail-wrapper {
  .active {
    background: linear-gradient(35deg, #494949, #313131);
    color: white;
  }
  .recipe-image {
    width: 80%;
    margin: 0 auto;
  }
  img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
  }
  h2 {
    margin-bottom: 2rem;
  }
  li {
    font-size: 1.2rem;
    line-height: 2.5rem;
  }
  ul {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  p {
    margin: 1rem 0;
    text-align: justify;
    text-justify: inter-word;
  }
  h4 {
    margin: 1rem 0rem;
  }
  h1 {
    font-size: 1.3rem;
    text-decoration: underline;
    margin-bottom: 1rem;
  }
}

.button {
  padding: 1rem 2rem;
  color: #313131;
  background: white;
  border: 2px solid black;
  margin-right: 2rem;
  font-weight: 600;
  cursor: pointer;
}

.info {
  width: 80%;
  margin: 2rem auto;
}
.instruction {
  margin-bottom: 1rem;
h4 {
  margin: 0;
  text-decoration: underline;
}
p {
  margin: 0;
}
}
.contact {
  display: flex;
  justify-content: space-evenly;
}